ProxyPass         / http://localhost:8080/ nocanon
ProxyPassReverse  / http://localhost:8080/
ProxyRequests     Off
AllowEncodedSlashes NoDecode

<Proxy http://localhost:8080/jenkins*>
  Order deny,allow
  Allow from all
</Proxy>
